{{define "_user_articles.html"}}
    <script>
        var pageCount = {{.pageCount}};
        var currentPage = {{.currentPage}};
    </script>
    <!-- 分页 -->
    <script src="/static/js/user_articles.js"></script>
    <section class="article">
        {{range $postkey,$postvalue:=.articles}}
            <div class="articleInfo">
                        <span><a class="articleTitle" href="/article/{{$postvalue.ID}}">
                                {{$length := len $postvalue.ArticleTitle}}
                                {{if ge $length 40}}
                                    {{truncate $postvalue.ArticleTitle 40}}...
                                {{else}}
                                    {{$postvalue.ArticleTitle}}
                                {{end}}
                            </a></span>
                <span class="createdTime" style="margin-right: 10px;">
                            {{dateFormat $postvalue.CreatedAt "06-01-02 15:04"}}
                        </span>
            </div>

            <div class="articleBody" id="article_content_htm">
                {{$replaceHtml_content := replaceHtml $postvalue.ArticleContent}}
                {{$length := len $replaceHtml_content}}
                {{if ge $length 100}}
                    {{truncate $replaceHtml_content 100}}...
                {{else}}
                    {{$replaceHtml_content}}
                {{end}}
            </div>

            <div style="margin-top: 10px">
                <tr>
                    {{$tagvalue := $postvalue.FindLabelsByArticle}}
                    <a href="/label/{{$postvalue.ID}}" class="changeTag"
                       style="color: #888888;text-decoration: none;">
                        # <span>{{$tagvalue.LabelName}}</span>&nbsp;&nbsp;
                    </a>
                </tr>
            </div>
            <hr>
        {{end}}
    </section>
    <nav aria-label="Page navigation">
        <ul id="user_article_page" class="pagination">
            <!-- 通过jquery 添加-->
        </ul>
    </nav>
    <br/>
    <script>

    </script>

{{end}}