<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设置</title>
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/article.css" rel="stylesheet">
    <link href="/static/css/blog_hone.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <!-- 下面两个是jquery第三方库 用于注册校验 -->
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#basic_setting").click(function(){
                $.ajax({url:"/_basic_setting",success:function(result){
                        $("#div1").html(result);
                    }});
            });
        });
    </script>
    <style>
        .error{
            color: #ff0000;
            margin-left: 112px;
        }
    </style>

</head>
<body>
{{template "navbar.html" .}}
{{.message}}
<div class="container">
    <div class="row ">
        <div class="col-md-2">
            <button id = "basic_setting">基础设置</button>
        </div>
        <div class="col-md-8">
            <div id="div1">{{template "_basic_setting.html" .}}</div>
        </div>
    </div>
</div>


</body>
</html>