{{define "_show_comment.html"}}
    <script>
        //分页按钮跳转
        function show_comment_by_page(page){
            $.ajax({url:"/show_comment_by_article/{{.article.ID}}/"+page,success:function(result){
                    $("#article_comments").html(result);
                }});
        }
        var pageCount = {{.pageCount}};
        var currentPage = {{.current_page}};
    </script>
    <!-- 分页 -->
    <script src="/static/js/comments.js"></script>
    <div class = "row">
    {{$article_user_id := .article_user_id}}
    {{range $postkey,$postvalue:=.comments}}
        <!-- 获取该评论的用户对象 -->
        {{$comment_user := getUser $postvalue.UserId}}
        <div class="col-md-1" style="width: 50px;">
            <img src="{{$comment_user.ProfilePhoto}}" alt="..." class="img-circle" data-toggle="dropdown" style="width: 35px;height: 35px;">
        </div>
        <div class="col-md-5">
            {{$comment_user.Username}}
            {{if eq $article_user_id $postvalue.UserId}}
                作者
            {{end}}
            <br/>
            <div id = "is_admin"></div>
            <span style="color: #8c8c8c;">
            {{$postvalue.Floor}}楼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{dateFormat $postvalue.CommentDate "06-01-02 15:04"}}
        </span>

        </div>
        <div class="col-md-11" style="margin-left: 50px" >
            <h4>{{$postvalue.CommentContent}}</h4>
            <hr/>
        </div>


    {{end}}
    </div>

    <nav aria-label="Page navigation">
        <ul id = "article_comment_page" class="pagination">
            <!-- 通过jquery 添加-->
        </ul>
    </nav>
{{end}}