<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章列表</title>
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/blog_hone.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script>
        var pageCount = {{.pageCount}};
        var currentPage = {{.currentPage}};
        var page_type = {{.pageType}}
        var key_word = {{.keyWord}}
    </script>
    <!-- 分页 -->
    <script src="/static/js/index_articles.js"></script>
</head>
<body>

{{template "navbar.html" .}}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section class="article">
                {{range $postkey,$postvalue:=.articles}}
                    <div class="articleInfo">
                        <span><a class="articleTitle" href="/article/{{$postvalue.ID}}">
                                {{$length := len $postvalue.ArticleTitle}}
                                {{if ge $length 40}}
                                    {{truncate $postvalue.ArticleTitle 40}}...
                                {{else}}
                                    {{$postvalue.ArticleTitle}}
                                {{end}}
                            </a></span>
                        <span class="createdTime" style="margin-right: 10px;">
                            {{dateFormat $postvalue.CreatedAt "06-01-02 15:04"}}
                        </span>
                    </div>
                    <div class="articleBody" id="article_content_htm">
                        {{$replaceHtml_content := replaceHtml $postvalue.ArticleContent}}
                        {{$length := len $replaceHtml_content}}
                        {{if ge $length 100}}
                            {{truncate $replaceHtml_content 100}}...
                        {{else}}
                            {{$replaceHtml_content}}
                        {{end}}
                    </div>

                    <div style="margin-top: 10px">
                        <tr>
                            {{$tagvalue := $postvalue.FindLabelsByArticle}}
                            <a href="/label/{{$postvalue.ID}}" class="changeTag"
                               style="color: #888888;text-decoration: none;">
                                # <span>{{$tagvalue.LabelName}}</span>&nbsp;&nbsp;
                            </a>
                        </tr>
                    </div><!-- article tags -->
                    <hr>
                {{end}}
            </section>
        </div>

        <div class="col-md-4">
            <div class="well">
                <h5><span class="glyphicon glyphicon-tag"></span> 文章标签</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            {{range .labels}}
                                <li><a href="/label/{{.ID}}">{{.LabelName}}</a>
                                </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul id="index_article_page" class="pagination">
        </ul>
    </nav>
    <br/>
</div>
{{template "foot.html" .}}
</body>
</html>