<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICCID图片识别</title>
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/blog_hone.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/wangEditor.min.js" type="text/javascript" ></script>
</head>
<body>
{{/*            <form action="/picture_recognition" enctype="multipart/form-data" method = "post" class="form-horizontal" id = "registerForm"  autocomplete="off">*/}}
{{/*                <div class="form-group">*/}}
{{/*                    图片识别*/}}
{{/*                    <hr/>*/}}
{{/*                    <input type="file" id="exampleInputFile" accept="image/*" name = "file" class = "file">*/}}
{{/*                    <br/>*/}}
{{/*                    <button type="submit" class="btn btn-default">提交</button>*/}}
{{/*                </div>*/}}

{{/*            </form>*/}}
{{template "navbar.html" .}}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br/>



            <form class="form-horizontal" id = "picture_recognition_id" >
                <div class="form-group">
                    <div style="padding: 5px 0; color: #ccc"></div>
                    <h2>请在下方贴入图片，如果有文字或者空格会报错</h2>
                    <div id="picture_content_text" class="text" >

                    </div>
                    <!-- textarea用来记录文本框中的内容 用来提交到后台，默认隐藏 -->
                    <textarea  id="picture_content_textarea" name = "picture_64" style="width:100%; height:200px;" hidden></textarea>

                    <button type="button" onclick = "submit_picture_recognition()" id = "get_html"  class="btn btn-default">提交</button>
                    <script type="text/javascript">
                        var E = window.wangEditor
                        var editor1 = new E('#picture_content_text')  // 两个参数也可以传入 elem 对象，class 选择器
                        editor1.customConfig.uploadImgShowBase64 = true
                        var $text1 = $('#picture_content_textarea')
                        editor1.customConfig.onchange = function (html) {
                            // 监控变化，同步更新到 textarea
                            $text1.val(html)
                        }
                        editor1.create()
                        // 初始化 textarea 的值
                        $text1.val(editor1.txt.html())


                        //ajax上传数据  返回值显示在well里
                        function submit_picture_recognition(){
                            $.ajax({url:"/submit_picture_recognition",
                                method: "post",
                                data: $('#picture_recognition_id').serialize(), // 序列化form中的值
                                success:function(result){
                                    $("#picture_recognition").html(result);
                                }});
                        }
                    </script>
                </div>
            </form>


        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-md-4" >
            文字显示区域
            <div class="well" style="height: 322px;" id = "picture_recognition">

            </div>

        </div>
    </div>

</div>

</body>
</html>